* {
  /* margin: 0;
  padding: 0; */
  /* box-sizing: border-box; */
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
  padding: 10px;
}
.item {
  flex-grow: 1;
  margin: 30px;
  padding: 40px;
  background-color: red;
}
