.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 0.5fr 50px 50px;
  gap: 10px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
  margin-left: 10px;
}

.grid_header {
  display: grid;
  font-weight: 600;
  gap: 10px;
}

.itemContainer {
  display: flex;
  width: 100%;
  background-color: #125c71;
}

.gridRow {
  display: grid;
  grid-template-columns: 1fr 0.5fr 50px 50px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  cursor: pointer;
}

.gridRow:hover {
  background-color: #e6f7ff;
}

.gridCell {
  padding: 5px;
}

.gridRow a {
  color: inherit;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
}

/* Selected item */

button {
  background: none;
  border: none;
  cursor: pointer;
}

.active {
  border-left: 5px solid #125c71;
  padding: 10px;
  font-weight: 7000;

  font-weight: bold;
}

/* Responsive layout for smaller screens */
@media (max-width: 640px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1 {
    font-size: 15px;
  }
}
